<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${purchases != null && purchases.size() != 0}">
    <table>
        <tr th:each="purchase : ${purchases}">
            <td th:text="${purchase.name}"></td>
            <td th:text="${purchase.count}"></td>
            <td th:text="${#numbers.formatDecimal(purchase.price, 0, 2, 'COMMA')}"></td>
            <td th:text="${#numbers.formatDecimal(purchase.total, 0, 2, 'COMMA')}"></td>
        </tr>
    </table>
    <div>Итого: [[${#numbers.formatDecimal(total, 0, 2, 'COMMA')}]]</div>
</div>
</body>
</html>